@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

.hero{
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-overlay{
      color: #fff;
      background-color: rgb(206, 77, 17);
      padding: 30px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      box-shadow: 10px 10px 5px rgba(187, 187, 187, 0.5);
      h1, h2{
        font-family: 'Supermercado One', cursive;
      }
      h1{
        font-size: 40px;
        margin-bottom: 0;
      }
      h2{
        font-size: 25px;
      }
    }
    button{
        width: 100px;
    }
  }

  h1{
      text-align: center;
  }

.select-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select{
    margin: 20px;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
}

.filter-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipes-container{
  flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
justify-content: space-evenly;
a{
  text-decoration: none;
}
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.card-img{
text-align: center;
margin-top: 10px;
  img{
      width:200px;
    margin: 40px 5px 30px 5px;
border-radius: 7px;
  }
}

.card{
  background-color: white;
  box-shadow: 10px 10px 5px rgba(187, 187, 187, 0.5);
  border-radius: 0%;
}

.card-footer {
  font-family: 'Indie Flower', cursive;
  height: 120px;
  border: 2px solid white;
  background-color: rgb(206, 77, 17);
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .card-txt{
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    span{
      font-size: 18px;
    }
  }
  
}

.h-100{
    width:350px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
