.navbar{
.container{
    background-color: rgb(73, 73, 73);
    height: 50px;
}
    .navbar-brand{
      a{
        text-decoration: none;
      }
    }
    .nav-link{
      color: black;
    }
  }

  .navbar-brand{
      height:100px;
  }
