.site-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
    // background-image: url('../../images/background.jpg');
    font-family: helvetica;
  }

  .spinner{
    width: 100px;
  }